<div class="row">
  <div class="col-md-4">
    <%= simple_form_for [@league] do |f| %>
      <%= f.input :name, :label => 'League Name' %>
      <%= f.button :submit, :class => "btn btn-success submit-btn" %>
    <% end %>
  </div>
</div>
